<section class="about" id="about">
  <div class="about__container container">
    <h2 class="about__title">A Propos de Nous</h2>
    <div class="about__content">
      <div class="about__images">
        <span [ngStyle]="{'background-image': 'url(' + images.about1 + ')'}" class="image__container about1"></span>
        <span [ngStyle]="{'background-image': 'url(' + images.about2 + ')'}" class="image__container about2"></span>
        <span [ngStyle]="{'background-image': 'url(' + images.about3 + ')'}" class="image__container about3"></span>
      </div>
      <div class="about__text">
        <div class="about__text-content">
          <h3 class="about__subtitle">Qui Somme Nous?</h3>
          <p class="about__description">Chez KREATIFY, nous sommes bien plus qu'une agence de conception graphique. Nous
            sommes une équipe
            passionnée d'artistes
            visuels, de conteurs graphiques et d'innovateurs déterminés à créer des expériences visuelles
            extraordinaires. Notre
            histoire est une fusion de créativité, d'expertise et de dévouement.</p>
        </div>
        <div class="about__text-content">
          <h3 class="about__subtitle">Notre Mission</h3>
          <p class="about__description">Notre mission est de vous aider à atteindre vos objectifs à travers notre
            passion pour la conception
            graphique. Que ce
            soit pour promouvoir une entreprise, un événement, un produit ou une idée, nous sommes là pour donner vie à
            votre
            vision.</p>
        </div>
      </div>
    </div>
  </div>
</section>