<section class="hero" id="#">
  <div class="overlay"></div>
  <div class="hero__container container">
    <h1 class="hero__title">Création Graphique: <span>L'Art de Donner Vie à Votre Vision</span></h1>
    <p class="hero__description">Bienvenue dans l'univers <strong>KREATIFY</strong>. votre destination de choix pour des
      solutions de conception
      graphique de qualité
      supérieure. Nous sommes passionnés par l'art de la communication visuelle et nous mettons notre créativité au
      service de
      votre succès.
    </p>

    <div class="hero__action">
      <a href="#" class="button">Contacter Nous</a>
      <a href="#" class="button secondary">Decouvrir Plus</a>
    </div>
  </div>
</section>